
fonts/flaticon/font/_flaticon.scss
fonts/flaticon/font/flaticon.css
fonts/flaticon/font/Flaticon.eot
fonts/flaticon/font/Flaticon.ttf
fonts/flaticon/font/Flaticon.woff
images/background2.png
images/People/blog-1.jpg
images/People/blog-2.jpg
images/People/blog-3.jpg
images/People/blog-4.jpg
images/People/blog-5.jpg
images/Places/halong.jpg
images/Places/hanoi.jpg
images/Tours/tour-5.jpg
